services:
  postgres:
    image: postgres:16-alpine
    container_name: cryptopay-postgres
    environment:
      POSTGRES_USER: cryptopay
      POSTGRES_PASSWORD: cryptopay
      POSTGRES_DB: cryptopay
    ports:
      - '55432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cryptopay -d cryptopay"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: cryptopay-redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
